<div class="breadcrumb">
  <div fxLayout="column" fxLayoutAlign="left">
    <p class="display-4">Draggable list</p>
    <p class="mat-h1 text-black-50">Draft UI for a draggable list.
    </p>
  </div>
</div>

<div class="p-5">
  <div class="example-container">
    <h2 fxLayoutAlign="center">To do</h2>

    <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]"
      class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag>
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        {{item}}
        <fa-icon [icon]="arrows" size="lg" cdkDragHandle></fa-icon>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2 fxLayoutAlign="center">Done</h2>

    <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]"
      class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag>
        {{item}}
        <fa-icon [icon]="arrows" size="lg" cdkDragHandle></fa-icon>
      </div>
    </div>
  </div>
</div>
