<footer class="bg-dark text-center text-light pb-1">
  <div class="pl-5 pr-5 mt-3" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="!deviceXs">
    <div>
      <p>2020 &copy; Julio César Melchor Pinto<a mat-button [routerLink]="['/privacy-policy']">Politicas de
          Privacidad</a></p>
    </div>
    <div>
      <p>Iconos de Social</p>
    </div>
  </div>
  <div class="mt-3" fxLayout="column" fxLayoutAlign="center center" *ngIf="deviceXs">
    <div>
      <p>2020 &copy; Julio César Melchor Pinto<a mat-button [routerLink]="['/privacy-policy']">Politicas de
          Privacidad</a></p>
    </div>
    <div>
      <p>Iconos de Social</p>
    </div>
  </div>
</footer>
